<apex:page standardController="Case" showChat="false" showHeader="false" sidebar="false">
    <apex:includeScript value="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false"/>
    <apex:includeScript value="{!URLFOR($Resource.jquery,'jquery-1.10.2.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jquery,'jquery-ui.js')}"/>

    <script type="text/javascript">
        $(document).ready(function () {
            var map;
            
            var myOptions = {
                zoom: 10,
                center: new google.maps.LatLng(43.8403618, -79.3786025),
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var addresses = [
                "{!Case.Street__c} {!Case.City__c} {!Case.Postal_Code__c} {!Case.Province__c}",
                "{!Case.Destination_Street__c} {!Case.Destination_City__c} {!Case.Destination_Postal_Code__c} {!Case.Destination_Province__c}"
            ];

            for (var x = 0; x < addresses.length; x++) {
                
                $.getJSON('https://maps.googleapis.com/maps/api/geocode/json?address='+addresses[x]+'&sensor=false', null, function (data) {
                    var p = data.results[0].geometry.location
                    var latlng = new google.maps.LatLng(p.lat, p.lng);
                    new google.maps.Marker({
                        position: latlng,
                        map: map
                    });
                    
                });
            }

            map = new google.maps.Map($('#map_canvas')[0], myOptions);
        });
    </script>
    <div id="map_canvas" style="width:100%;height:300px;"/>
</apex:page>