<apex:page controller="CA_Integration" contentType="text/plain; charset=UTF-8" action="{!authorize}" >
    <apex:variable var="p0" value="{!0}" rendered="{!page_status='OK'}">
        <apex:variable var="p1" value="{!0}" rendered="{!direction='o'}">
      {!page_status}
      {!page_message}
            Host: {!host}
            Port: {!Port}
            Message Type: {!message_type}
            Club Number: {!club_number}
            Case Number: {!case_number}
            <!--URL: {!full_url}-->
            
            <apex:variable value="{!1}" var="i"/>
            <apex:repeat value="{!payload}" var="p">
                Payload[{!i}] => {!p}
                <apex:variable value="{!i+1}" var="i"/>
            </apex:repeat>
            
            [Field Values]
            <apex:variable value="{!0}" var="i"/>
            <apex:repeat value="{!fieldValues}" var="f">
                [{!i}] {!f.api_name} ---> {!f.value}
                <apex:variable value="{!i+1}" var="i"/>
            </apex:repeat>
            
            FINAL URL: {!final_url}
        </apex:variable>
        
        <apex:variable var="p2" value="{!0}" rendered="{!(direction='i' && !isAAAmsg && !isMTmsg)}">
      {!page_status}
      {!page_message}
            Message Type: {!message_type}
            Club Number: {!club_number}
            Case Number: {!case_number}
            Acknowledgement Only: {!isAck}
            Map All Fields: {!mapAllFields}
            
            <apex:variable value="{!1}" var="i"/>
            <apex:repeat value="{!payload}" var="p">
                Payload[{!i}] => {!p}
                <apex:variable value="{!i+1}" var="i"/>
            </apex:repeat>
            
            [Field Values]
            <apex:variable value="{!0}" var="i"/>
            <apex:repeat value="{!fieldValues}" var="f">
                [{!f.index}] {!f.api_name} ---> {!f.value}
                <apex:variable value="{!i+1}" var="i"/>
            </apex:repeat>
            
            [Case Details]
            Club Call Number: {!c.Club_Call_Number__c}
            Remote Acknowledgement: {!c.Remote_Acknowledgement__c}
            
            FINAL URL: {!final_url}
        </apex:variable>
    </apex:variable>
    <apex:variable var="p2" value="{!0}" rendered="{!(direction='i' && (isMTMsg || isAAAmsg))}">
    {!responseString}
    </apex:variable>
</apex:page>